In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
data = pd.read_csv("/Users/saikarthik/Desktop/Nexus-S1 Deakin /ambient_temperature_system_failure.csv")

In [4]:
data.head()

             timestamp      value
0  2013-07-04 00:00:00  69.880835
1  2013-07-04 01:00:00  71.220227
2  2013-07-04 02:00:00  70.877805
3  2013-07-04 03:00:00  68.959400
4  2013-07-04 04:00:00  69.283551

In [ ]:
data.tail()

In [5]:
data.shape

(7267, 2)