# Times Series on Engergy Industry

### Libraries Importing , Data Preprocessing and Cleaning

In [11]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import time

import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("/Users/saikarthik/Desktop/Nexus-S1 Deakin /Energy Industry/intermittent-renewables-production-france.csv")

In [3]:
df.head()

,Date and Hour,Date,StartHour,EndHour,Source,Production,dayOfYear,dayName,monthName
0,2020-07-22 20:00:00+02:00,2020-07-22,20:00:00,21:00:00,Solar,244.0,204,Wednesday,July
1,2020-07-23 07:00:00+02:00,2020-07-23,07:00:00,08:00:00,Solar,223.0,205,Thursday,July
2,2020-07-23 16:00:00+02:00,2020-07-23,16:00:00,17:00:00,Solar,2517.0,205,Thursday,July
3,2020-07-23 19:00:00+02:00,2020-07-23,19:00:00,20:00:00,Solar,658.0,205,Thursday,July
4,2020-07-23 23:00:00+02:00,2020-07-23,23:00:00,24:00:00,Solar,0.0,205,Thursday,July

In [4]:
df.shape

(59806, 9)

In [5]:
df.size

538254

In [6]:
df.columns

Index(['Date and Hour', 'Date', 'StartHour', 'EndHour', 'Source', 'Production',
       'dayOfYear', 'dayName', 'monthName'],
      dtype='object')

In [7]:
df.describe()

         Production     dayOfYear
count  59804.000000  59806.000000
mean    2792.859775    172.454720
std     3190.239316    104.937607
min        0.000000      1.000000
25%       42.000000     84.000000
50%     1871.000000    164.000000
75%     4053.250000    262.000000
max    17220.000000    366.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59806 entries, 0 to 59805
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date and Hour  59806 non-null  object
 1   Date           59806 non-null  object
 2   StartHour      59806 non-null  object
 3   EndHour        59806 non-null  object
 4   Source         59806 non-null  object
 5   Production     59804 non-null  float64
 6   dayOfYear      59806 non-null  int64
 7   dayName        59806 non-null  object
 8   monthName      59806 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 4.1+ MB

In [9]:
df.isnull().sum()

Date and Hour    0
Date             0
StartHour        0
EndHour          0
Source           0
Production       2
dayOfYear        0
dayName          0
monthName        0
dtype: int64

In [10]:
df.duplicated()== True

0        False
1        False
2        False
3        False
4        False
         ...
59801    False
59802    False
59803    False
59804    False
59805    False
Length: 59806, dtype: bool